<h1>Update</h1>

<!-- <form action="/articles/<%= @article.id  %>" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="patch">
  <input type="text" value= "<%= @article.title %>" name="article[title]">
  <input type="text" value="<%= @article.description %>" name="article[description]">
   <input type="text" value="<%= @article.content %>" name="article[content]">
  <input type="submit">
</form> -->


<%= render 'form' %>
