<h1 class="text-center"><%= @article.title %></h1>

<h4 class="text-center"><%= @article.description  %></h4>

<p class="text-center"><%= @article.content %></p>

<p class="text-center"><%= link_to "Edit", edit_article_path(@article), :class => "btn btn-primary"  %></p>

<p class="text-center"><%= link_to 'DELETE', article_path(@article), method: :delete, :class => "btn btn-primary" %></p>


